
.paginator {
    margin: 10px;

}
.pageNumber {
    padding: 5px;
    border: 1px solid grey;
    position: center;
    cursor: pointer;

}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}