.header {
    grid-area: header;
    background-color: lightskyblue;
}

.header img {
    width: 100px;
}

.loginBlock {
    float: right;
    color: white;
}
.loginBlock a {
    color: white;
    text-decoration: none;
}