.nav {
    grid-area: n;
    background-color: lightskyblue;
    padding: 5px;
    width: 80px;

    border: 2px solid #333;
}
.item a{
    color: white;
    text-decoration: none ;
    padding: 8px 16px;
}

.item :hover {
    display: block;
    background-color: darkslateblue;
}

.item a.activeLink{
    color: black;
}

