.photo {
    width: 100px;
    height: 100px
}
.item {
    color: black;
    padding-left: 10px;
}
.contact{
    padding-left: 20px;
}
.formSummary {
    border: solid red 1px;
    padding: 5px;
    color: rosybrown;
}

.button{
    cursor: pointer;
}
.profileData{
    padding-left: 10px;
}
.profileTitle{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.userStatus:hover{
    display: block;
    background-color: lightgray;
    cursor: pointer;

}