.photo {
    width: 100px;
    height: 100px
}
.item {
    color: black;
}
.contact{
    padding-left: 20px;
}
.formSummary {
    border: solid red 1px;
    padding: 5px;
    color: rosybrown;
}

.button{
    cursor: pointer;
}