.photo {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-left: 100px;
    border-radius: 50px !important;;
}
.item {
    color: black;
}
.contact{
    padding-left: 20px;
}
.formSummary {
    border: solid red 1px;
    padding: 5px;
    color: rosybrown;
}

.button{
    cursor: pointer;
    margin-left: 140px;
}
.buttonSaveProfile{
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.profileData{
    padding-left: 10px;
}
.profileTitle{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.userStatus:hover{
    display: block;
    background-color: lightgray;
    cursor: pointer;

}