.buttonLogin{
    padding-top: 10px;
    cursor: pointer;
    margin-right: 100px;
}

.loginForm {
    width: 300px;
    padding: 2px;
}

.loginFormCaptcha {
    padding: 2px;
    align-items: center;
}
.checkbox {
    padding-top: 10px;
    float: left;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}
.formSummary {
    border: solid red 1px;
    padding: 5px;
    color: rosybrown;
}