.buttonLogin{
    cursor: pointer;
    margin-right: 100px;
    float: right;
}
.buttonUpdateCaptcha{
    cursor: pointer;
    float: left;
}

.loginForm {
    width: 300px;
    margin-left: 10px;
}
.checkbox {
    float: left;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}
.formSummary {
    border: solid red 1px;
    padding: 5px;
    color: rosybrown;
}