.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: lightskyblue
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: yellow;
}

.messages {
    padding: 10px;
}


.dialog {

}