.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: yellow;
}

.messages {
    padding: 10px;
}

.dialogsForm {
    width: 300px;
    padding: 2px;
}